# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/

# =========================
# Django / DRF
# =========================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media & Static (optional)
media/
staticfiles/

# Django migrations (optional)
# Uncomment if you do NOT want migrations
# */migrations/*.py
# !*/migrations/__init__.py

# =========================
# Environment Variables
# =========================
.env
.env.*
*.env

# =========================
# PostgreSQL
# =========================
*.sql
postgres_data/
pgdata/

# =========================
# PyCharm
# =========================
.idea/
*.iml

# =========================
# VS Code (optional)
# =========================
.vscode/

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/
.tox/

# =========================
# mypy / type checking
# =========================
.mypy_cache/

# =========================
# Ruff / Flake8
# =========================
.ruff_cache/

# =========================
# Build files
# =========================
build/
dist/
*.egg-info/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db